* {
    box-sizing: border-box;
}

:root {
    --sidebar-width: 50px;
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    background-color: #333;
    padding: 0px;
    color: white;
    /* 固定位置 */
    top: 0;
    /* 从顶部开始 */
    left: 0;
    /* 从左边开始 */
    height: 100vh;
    /* 使其占满整个视口的高度 */
    overflow-y: auto;
    /* 如果内容超出侧边栏高度，允许滚动 */
}

.sidebar button {
    padding: 0;
    border-width: 0;
}

.sidebar span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--sidebar-width);
    background-color: #333;
    color: white;
    font-size: 30px;
}

#setting-icon {
    position: fixed;
    bottom: 0; /* 使其始终在视口的底部 */
    left: 0; /* 使其与 .sidebar 对齐 */
    width: var(--sidebar-width);
    height: var(--sidebar-width);
    background-color: #333;
}

.left-panel-wrapper {
    width: 20vw;
}
.middle-panel-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.inner-canvas {
    max-width: 100%;
}
.right-panel-wrapper {
    width: 20vw;
}


.panel {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}