* {
    box-sizing: border-box;
}

:root {
    --sidebar-width: 50px;
}

body {
    margin: 0;

}

.main {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}


.left-panel-wrapper {
    display: flex;
    margin-top: 20px;
    border-top: 2px solid rgb(235, 235, 235);
    padding-top: 10px;
}

.middle-panel-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.right-panel-wrapper {
    width:  min(20vw, 600px);
    margin-right: 20px;
}

@media (max-width: 768px) {
    .right-panel-wrapper {
        width: 100%;
        margin: 5px;
    }
    .middle-panel-wrapper {
        margin: 5px;
    }
    .left-panel-wrapper {
        margin: 5px;
    }
}
