.time-scale-wrapper button {
    border-width: 0;
    background-color: #e1e0e0;
    font-size: 1.5em;
}

.time-scale-wrapper button:hover {
    background-color: #333;
    color: white;
}

.time-scale-wrapper .selected {
    background-color: #333;
    color: white;
}

.canvas-wrapper {
    position: relative;
    height: calc(80vh + 40px);
}

.time-scale-wrapper {
    position: relative;
}


.chart {
    width: 100%;
    border-radius: 2%;
    border: 2px solid rgb(225, 225, 225);
    margin-top: 20px;
    padding: 10px
}



